
        #box{
            display: flex;
            justify-content: space-between;
            background-color: cadetblue;
            border-radius: 2%;
            width: 100%;
            position: fixed;
           
        }
        #box h3 a{
            text-decoration: none;
          
            padding-right: 100px;
            color: brown;
        }
        #searcdetails{
            margin: auto;
            text-align: center;
          padding-top: 100px;
            height: 80px;
           
            background-color: rgb(160, 175, 175);
        }
        #searchinput{
            width: 440px;
            height: 49px;
            background-color: rgb(175, 195, 196);
           
            
        }
      
       #span{
         text-align: center;
         padding-bottom: 18px;
         padding-top: 5px;
            width: 42px;
            margin-left: -2px;
          
           /* margin-top: 20px; */
           background-color: rgb(12, 73, 88);
           border-radius: 40%;
            color: rgb(221, 221, 123);
         font-size: xx-large;
            height: 33px;
        }
   #container{
       
       width: 1200px;
       margin: auto;
       
       display: grid;
       grid-template-columns: 22% 22% 22% 22%;
       gap: 3%;
   }
   #container>div>img{
       width: 100%;
       padding: 20px;
       border-radius: 50%;
   }
   #body{
    background-color: rgb(160, 175, 175);
   }
   p{
       color: brown;
       font-size: 20px;
       margin-left: 100px;
       text-align: center;
   background-color: cadetblue;
   }
  button{
      outline: none;
      border: none;
    background-color: rgb(160, 175, 175);
  }
  button:hover{
      background-color: cadetblue;
      border-radius: 40%;
  }
      #contain{
          padding-top: 200px;
          width: 1200px;
       margin: auto;
       background-color: rgb(240, 247, 233);
       text-align: center;
     
       border-radius: 10%;
      }
      #contain img{
          width:900px;
          height: 500px;
          border-radius: 50%;

      }
      #contain p{
          width: 300px;
          margin: auto;
          height: 20px;
          background-color:  rgb(240, 247, 233); 
          color: crimson;
          
      }
      
   